 <div class="pad1">
    <div class="details_index_show_type"></div>
    <div class="content_title_project text-center">
    	<h1 class="title_show_index"> Titre de projet  </h1>
		<div class="position_rigth_icons">
		   	<div class="row">
		        <div class="col-sm-3">
		        	<div class="round round-lg blue hover_icons_class pointer">
		                <span class="fa fa-angle-double-down"></span>
		            </div>
		    	</div>
		        <div class="col-sm-3">
		        	<div class="round round-lg orange hover_icons_class pointer">
		                <span class="fa fa-play-circle"></span>
		            </div>
		    	</div>
		        <div class="col-sm-3">
		        	<div class="round round-lg green hover_icons_class pointer">
		                <span class="fa fa-user"></span>
		            </div>
		    	</div>
		    </div>
		</div>
    </div>
    <div class="content_new_object">
    	<div class="content_description_project">
    		<p>
                ceci est la description du projet 1, avec minimum 40 mots
            </p>
    	</div>
    </div>
</div> 
<div class="content_video_form">
	<div class="video_integrate">
		
	</div>
	<div class="content_progress1_bar_menu">
		<div class="content_show_model row">
			<div class="content_view_top col">
			    <div class="row content_model_type">
			        <div class="col-sm-6">
			            <div class="progress1 blue">
			                <span class="progress1-left">
			                    <span class="progress1-bar"></span>
			                </span>
			                <span class="progress1-right">
			                    <span class="progress1-bar"></span>
			                </span>
			                <div class="progress1-value">97%</div>
			            </div>
			        </div>
			        <div class="col-sm-6 studio_object">
			        	<p>Nombre collétés</p>
			        	<p>Sur nombre total de jeuton</p>
			        </div>
			    </div>
			</div>
			<div class="w-100"></div>
			<div class="content_view_bottom col">
				<div class="content_user_profile">
					
				</div>
			</div>
		</div>
	</div>
</div>
<div class="text-center backg-visibility">
    <button type="" class="btn ml102">Soutenir ce projet</button>
    <div class="el-htest">
        Votre contribution vous seras intégralement remboursée si le projet  n atteint pas 100% de son objectif
    </div>
    <section class="choice">Choisissez votre contrepartie.</section>
</div>
<div class="pd-in">
	<div class="flex flex n_obj">
		<% for item in 0..3 %>
            <%=render 'layouts/projets_don' %>
		<% end %>
	</div>
</div>
<section id="tabs" class="project-tab">
            <div class="pd-in">
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                <a class="nav-item nav-link active spec-link" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">A propos du projets</a>
                                <a class="nav-item nav-link spec-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Actualité</a>
                                <a class="nav-item nav-link spec-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Commentaires</a>
                                <a class="nav-item nav-link spec-link" id="nav-valifunders-tab" data-toggle="tab" href="#nav-valifunders" role="tab" aria-controls="nav-valifunders" aria-selected="false">Valifunders</a>
                            </div>
                        </nav>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane fade show active n_link" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                <%=render 'layouts/apropos' %>
                            </div>
                            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                <% for i in 0..5%>
                                    <%=render 'layouts/actualite' %>
                                <% end %>
                            </div>
                            <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                <div id="p3" class="container">
                                    <div class="cd11"> 
                                        <div class="£1-1">Commenter et encourager cette initiative.</div>
                                            <form action = "" method ="POST" remote ="true">
                                                <div class="i£1">
                                                <textarea rows="5" cols="5" type="text" name="" class="c1£01" placeholder="Votre commentaire..."></textarea> 
                                                </div>
                                                <button type="submit" class="btn£7">Commenter</button>
                                            </form>
                                        </div>
                                        <div class="cd1£ p2D£">
                                            <div class="tn£1">
                                                <div>Tous les commentaires.</div>
                                            </div>
                                            <% for i in 0..5%>
                                                <%=render 'layouts/comment' %>
                                            <% end %>
                                        </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="nav-valifunders" role="tabpanel" aria-labelledby="nav-valifunders-tab">
                                <div class="container">
                                    <div class="mn£"></div>
                                    <h3 class="ml17 text-center">
                                    <span class="text-wrapper">
                                        <span class="letters">Tous les Valifunders...</span>
                                    </span>
                                    </h3>
                                    <div class="row">
                                        <% for i in 0..6%>
                                            <%=render 'layouts/valifunder' %>
                                        <% end %>
                                    </div>
                                    <div class="tn£1 t4££">
                                        <div>Ils soutiennent aussi ce projet...</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>