		    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
	        	<div class="card h-100">
		        	<div class="title-card"><%= @i['titre'] %></div>
		          <a href="#">
		            <img class="card-img-top" src="/images/pack1.jpg" alt="">
		          </a>
			        <div class="card-body">
			            <h6 class="card-title">
				            <img class="card-user-top" src="/images/pack1.jpg" alt="user">
				              <p class="contain-xml">
				                <%= @i['nom'] %> <%= @i['prenom'] %>
				              </p>
				              <p class="contain-xml-1" style="text-transform: uppercase;">
				                <%= @i['localisation'] %>
				              </p>
			            </h6>
		            	<h6 class ="catg-item"> Categorie du projet ODD</h6>
		            	<div class="details-item text-left" style="margin-left:1%"><span style="font-weight: bold;">500</span> <br> <span class="total-item"> sur <span style="font-weight: bold;"><%= @i['jeutons'] %></span> </span></div>
		            	<div class="details-item-2 text-right" style="margin-right:1%"><%= @i['valifunders'] %> <br> <span class="total-item"> valifunders</span></div>
			            <div class="progress stab">
			              <div class="progress-bar bg-green" role="progressbar" style="width: <%= @i['pourcentage'] %>%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
			            </div>
		            	<div class="details-item text-center"><span style="font-weight:bold;"><%= @i['pourcentage'] %></span>%</div>
		            	<div class="details-item-3 text-center">J - <span style="font-weight: bold;"><%= @i['fin'] %></span></div> 
		            	<p class="card-text card-heigth"><%= @i['description'] %></p>
		            	<%= link_to "Details", projets_path(id: @i), :class => "btn btn-primary specify-button" %>
			        </div>
			   </div>
		    </div>